* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  ul {
    list-style: none;
  }
  
  ul li {
    padding: 5px;
    background: #f4f4f4;
    margin: 5px 0;
  }
  
  header {
    background: #f4f4f4;
    padding: 1rem;
    text-align: center;
  }
  
  .container {
    margin: auto;
    width: 500px;
    overflow: auto;
    padding: 3rem 2rem;
  }
  
  #my-form {
    padding: 2rem;
    background: #f4f4f4;
  }
  
  #my-form label {
    display: block;
  }
  
  #my-form input[type='text'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    background: #333;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
  }
  
  .btn:hover {
    background: #444;
  }
  
  .bg-dark {
    background: #333;
    color: #fff;
  }
  
  .error {
    background: orangered;
    color: #fff;
    padding: 5px;
    margin: 5px;
  }
  /* // */
body{
    text-align:center;
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

.Menu{
    background-color: transparent;  
    text-align:center; 
}

.index{
    /* background-image: url(../grocery-background.jfif); */
    height:100vh;
    background-size:cover;
}

.Menu ul{
    display:inline-flex;
    list-style:none;
}

.Menu ul li{
    margin:10px;
}


section{
    display:block;
    background-color: red;
    padding:12px;
}

.login-form{
    margin-bottom:10px;
    padding: bottom 20px;
    position: relative;
    background-color: orange;
     display:inline-block;
}

.container{
    text-align: center;
    justify-content: center;
}

.slider{
    background:url(groceries1.jpg);
    width:700px;
    height:400px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin:100px auto;
    animation:slide 10s infinite; 
    
}



@keyframes slide{
    50%{
        background:url(groceries1.jpg);
        background-size: 100% 100%;
    }
    100%{
        background:url(groceries2.jpg);
        background-size: 100% 100%;
    }
}

