<!DOCTYPE html>
<html>
    <head>
    <link href="../styles.css" rel="stylesheet" type="text/css">
    </head>

    
<div class="row mt-5">
<div class="col-md-6 m-auto">
  <div class="card card-body text-center">
  <h2 style="color:red">Welcome To Grocery Store</h2>
     <h1><i class="fas fa-store fa-5x " style=" padding:20px"></i></h1>
    
    
    <a href="/users/login" class="btn btn-danger btn-block">Login</a>
    <a href="/users/register">Don't have an accout?</a>
  </div>
</div>
</div>

 
 