<!DOCTYPE html>
<html>
    <head>
    
    </head>

    
<div class="row mt-5">
<div class="col-md-6 m-auto">
  <div class="card card-body text-center">
  <h2 ><strong>Welcome To LHZ Grocery</strong></h2>
     <h1><i class="fas fa-store fa-5x " style=" padding:20px"></i></h1>
    
    
    <a href="/users/login" class="btn btn-primary btn-block" >Login</a>
    <a href="/users/register" id="register">Don't have an accout?</a>
  </div>
</div>
</div>

 
 